body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.custom-header {
  background-image: url('../images/header-kraj.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 35px;
}

p.e-mail-info {
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 14px;
}

.logo {
  width: 160px;
  padding-top: 10px;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: #305891 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-right: 10px;
  font-weight: 380;
  font-size: 19px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #87a8d6;
  /* Bordo boja */
}

.dropdown-menu {
  background-color: #183b6d;
  border: none;
}

@media (max-width: 768px) {
  .dropdown-menu {
      max-width: 200px; 
  }

  .dropdown-item {
      white-space: normal; 
      overflow-wrap: break-word; 
  }
}


.dropdown-menu .dropdown-item {
  background-color: transparent;
  color: white;
}

.dropdown-menu .nav-link:hover {
  color: #87a8d6;
}

.dropdown-menu .nav-link:focus,
.dropdown-menu .nav-link:active {
  color: #305891 !important;

}


/*
.first-section, .second-section, .third-section {
    height: 600px;  Prilagodite visinu sekcija prema potrebi 
}

*/
.footer-about-us {
  padding-top: 20px;
  padding-bottom: 20px;
}



.first-section,
.third-section,
footer {
  margin-top: 0;
  margin-bottom: 0;
}

.second-section {
  margin-top: 0;
  color: white;
  margin-bottom: 0;
}

.second-section {
  background-image: url('../images/bg-kraj.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
  height: auto;
}

.container{
  color: white;
}

.second-section .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.first-section,
.third-section {
  background-color: #2B2B2B;
}

.hr-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

.hr-title {
  margin-right: 15px;
  font-size: 18px;
  font-weight: 350;
  color: white;
}


.custom-hr {
  flex-grow: 1;
  border-top: 1px solid white;
}

.carousel-item img {
  height: 360px;
  border-radius: 8px;
  object-fit: cover;
}

.carousel-item h4 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 250;
  text-align: center;
  color: white;
  /* Bijeli tekst za bordo pozadinu */
}

.carousel-item p {
  font-size: 14px;
  font-weight: 250;
  text-align: center;
  color: white;
  /* Bijeli tekst za bordo pozadinu */
}

footer {
  padding: 20px 0;
  background-color: #2B2B2B;
  color: white;
  font-size: 13px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent !important;
  border: none !important;
  padding: 20px !important;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"%3e%3cpath d="M5.5 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5z" fill="%23555da3" /%3e%3c/svg%3e') !important;
  /* Prilagođena strelica */
  width: 30px !important;
  height: 30px !important;
}


@media (max-width: 768px) {
  .carousel-item .d-flex {
    display: block;
  }

  .carousel-item .col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}


/* About Us Page Specific Styles */
.about-us-section {
  padding: 60px 0;
  color: white;
}

.about-us-section {
  padding: 30px 0;
}

.about-us-section .section-header {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.first-section-ispis {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #2B2B2B;

}

.about-us-section .section-header h2 {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.section-content {
  margin-left: 20px;
  margin-right: 20px;
}

.section-content-r {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 390px;
}

.section-header.o-nama,
.section-header.nasa-vizija {
  margin-left: 20px;
  margin-right: 20px;
}

.section-header {
  margin-bottom: 20px;
}


.icons-row {
  margin-left: 20px;
  margin-right: 20px;
}

.about-us-section .section-content p {
  color: white;
}

.about-us-section .icons-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.about-us-section .icon-box {
  text-align: center;
  color: white;
}

.about-us-section .icon-box i {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-us-section .icon-box p {
  font-size: 18px;
  margin: 0;
}

.full-width-bg p,
.full-width-bg ul,
.full-width-bg li {
  color: white;
}


.about-us-section .icon-box i {
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
  color: white;
}

.icons-row .icon-box p {
  color: white;
}


.about-us-section .icons-row {
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
  margin-bottom: 30px;
}


/* FAQ Section Specific Styles */
.faq-section {
  background-image: url('../images/bg-kraj.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 130px);
  padding: 60px 0;
  padding-top: 0px;
  overflow: hidden;
  color: white;
}

.custom-header {
  padding-bottom: 0;
}

.faq-section-header {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.faq-section {
  height: calc(100vh - 130px);
  overflow: hidden;
  margin-top: 0;
}


.chat-container {
  max-height: calc(100vh - 380px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.chat-container-admin {
  max-height: calc(150vh - 380px);
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  color: white;
}

.table td,
.table th {
  color: white;
}


.chat-bubble {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .chat-container {

    height: 50vh;
  }
}

@media (max-width: 768px) {
  .chat-container-admin {

    height: 50vh;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.chat-container-admin {
  display: flex;
  flex-direction: column;
  height: 150vh;
  overflow-y: auto;
}

.chat-messages {
  flex: 1;
  /* Omogućuje da ovaj element raste kako se chat container smanjuje */
  overflow-y: auto;
  height: 80%;
}



.client {
  background-color: #305891;
  align-self: flex-start;
}

.response {
  background-color: #87c9d6;
  align-self: flex-end;
}


.faq-description {
  color: white;
  padding-bottom: 10px;
}


.question-input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* Boja teksta */
}

.question-input p {
  margin-bottom: 10px;
}

.question-input input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.question-input button {
  padding: 10px 20px;
  background-color: #305891;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.question-input button:hover {
  background-color: #87c9d6;
}

.social-icons a i {
  font-size: 24px;
}

.social-icons a i {
  padding: 0px 2px 0 2px;
  color: #305891;
}

.social-icons a:hover i {
  color: #87c9d6;
}


form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

form .form-check-label img {
  width: 160px;
  height: auto;
  display: block;
  padding-top: 5px;
  margin: 0 auto 10px;
}

form .form-check {
  text-align: center;
  margin-bottom: 20px;
}

form .form-check-input {
  margin: 0 10px;
}

form textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

form button {
  background-color: #913074;
  border: none;
  color: white;
}

form button:hover {
  background-color: #87c9d6;
}

#paspartuOptions {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.custom-img-size {
  max-width: 100%;
  height: auto;
  width: 150px;
}

.img-fluid-offer {
  padding-top: 2px;
  border-radius: 8px;
  width: 150px;
  height: 200px;
}

.send-offer-body {
  color: white;
}

.register{
padding-top: 20px;
text-align: end;
}

.form-group {
  padding-top: 20px;
}

.form-group-login {
  padding-bottom: 20px;
  padding-top: 20px;
}

.third-section-offer {
  height: 700px;
  background-color: #2B2B2B;
}

.second-section-offer {
  background-image: url('../images/bg-kraj.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
  height: auto;
}

.first-section-offer {
  background-color: #2B2B2B;
  /* Prozirna pozadina */
  padding-bottom: 5px;
  height: auto;
}

.first-section-offer {
  padding-bottom: 30px;
  color: white;
}


.second-section-offer .form-check-label {
  display: flex;
  align-items: center;
}

.form-check-label {
  display: flex;
  /* Postavljanje na fleksibilni prikaz kako bi se elementi postavili u isti red */
  align-items: center;
}

.image-description {
  margin-left: 10px;
}

.form-check-input {
  margin-right: 5px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #305891;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #87c9d6;
}

.btn-primary-admin ,a.btn-primary-admin{
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #305891;
  border: none;
  color: white;
  border-radius: 20px;
  text-align: center; 
  display: inline-block; 
  cursor: pointer; 
}

.btn-primary-admin:hover,a.btn-primary-admin:hover{
  background-color: #87c9d6;
}

.form-check-input[type="radio"] {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 25px;
}

.form-check-input[type="radio"] {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 25px;
}

.form-check-input[type="radio"] {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 25px;
}

.form-check-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #305891;
  background-color: transparent;
  z-index: 1;
}

.form-check-input[type="radio"]:checked+.form-check-label::before {
  background-color: #305891;
}

.form-check-label:hover::before {
  background-color: #87c9d6;
}

.form-check-label::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
}

.form-check-input[type="radio"]:checked+.form-check-label::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.form-check-input[type="radio"]:checked+.form-check-label::after {
  content: none;
}

.form-check-inline input[type="radio"]+label {
  margin-right: 20px;
}

@media (max-width: 767px) {

  /* Raspored */
  .second-section .container {
    padding: 0;
  }

  .second-section .hr-title {
    margin-top: 20px;
  }

  .second-section .row {
    margin-top: 20px;
  }
}



body .main-article {
  background-color: #2B2B2B !important;
}

/* Responzivna slika */
.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  /* Centriranje slike */
}

/* Boja teksta */
.text-white {
  color: white;
}

/* Boja naslova */
.heading-white {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.custom-body {
  color: white;
  /* Bijela boja teksta */
  background-color: black;
  /* Crna pozadina */
}


/* Dodavanje paddinga na mobilnim ekranima manjim od 575px */
@media (max-width: 575px) {

  .unos-custom-header,
  .about-us-section.second-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Stil za prikazivanje teksta ispod gumba */
  .unos-form-group-last-child {
    margin-top: 10px;
  }
}

.img-ispis {
  padding-top: 2px;
  border-radius: 8px;
  max-width: 95%;
  height: auto;
}

.paragraph-ispis {
  padding-bottom: 50px;
}

.form-item {
  padding-bottom: 20px;
}

.custom-img-skripta {
  max-width: 100%;
  height: auto;
  width: 270px;
  border-radius: 8px;
}

.script-row {
  padding-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
  margin-left: 0 !important;
  left: 0 !important;
}

.dropdown-toggle::after {
  /* Da se ukloni strelica */
  display: none;
  
}

.dropdown-divider {
  width: 80%;
  margin-left: 20px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
  width: 420px;
  border-radius: 8px;
}

.admin-h4{
  padding-bottom: 20px;
}